/*General Stylings*/
p {
  font-family: 'Lora', serif;
}

/*Navigation Bar*/

@media only screen and (max-width: 770px) {
  .navbar {
    display: none;
  }
}

a.headline {
    font-family: 'Open Sans', sans-serif;
}

li {
  font-family: 'Open Sans', sans-serif;
}


/*Jumbotron and Parallax*/
.headline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 80px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("../../Resources/Photos/parallax.jpg");
  height: 950px;
}

.parallax2 {
  background-image: url("../../Resources/Photos/parallax2.jpg");
  height: 500px;
}

.parallax3 {
  background-image: url("../../Resources/Photos/parallax3.jpg");
  height: 500px;
}

.parallax4 {
  background-image: url("../../Resources/Photos/parallax4.jpg");
  height: 500px;
}

.headline, .byline, .about-project, .littleheadline {
  color: white;
  text-align: center;
}

.littleheadline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.headline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 80px;
}

.byline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a.about-project{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*Article Contnet*/
drop-cap {
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 80px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.caption {
  font-weight: 500;
}

p.powerplant {
  font-style: italic;
}

.dataviz {
  padding: 20px 10px 20px 10px;
  background-color: #f4f4f4;
}

.subhead {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 60px;
}

.about {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
