/*General Stylings*/
p {
  font-family: 'Lora', serif;
}

/*Navigation Bar*/

@media only screen and (max-width: 770px) {
  .navbar {
    display: none;
  }
}

a.headline {
    font-family: 'Open Sans', sans-serif;
}

li {
  font-family: 'Open Sans', sans-serif;
}


/*Jumbotron*/
.headline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 80px;
}
